<div class="card card-body">
    {{ form_start(form) }}
    <div>
        {{ form_widget(form) }}
    </div>
    <div class="pull-right d-inline">
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-link" href="{{ path('app_training_reimbursement_index') }}">retour à la liste</a>
        {% else %}
            <a class="btn btn-link" href="{{ path('app_home') }}">annuler</a>
        {% endif %}
        <button class="btn btn-primary">{{ button_label|default('Créer un dossier') }}</button>
    </div>
    {{ form_end(form) }}
</div>
