{% extends 'base.html.twig' %}

{% block title %}Dossier de remboursement de {{ training_reimbursement.trainee }}{% endblock %}

{% block body %}
    <h1>Dossier de remboursement de {{ training_reimbursement.trainee }}</h1>

    <section>
        {{ include('training_reimbursement/_show.html.twig') }}
    </section>


    <section>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="d-flex gap-3 align-items-center">
                <a class="btn-link" href="{{ path('app_training_reimbursement_index') }}">retour à la liste</a>
                {{ include('training_reimbursement/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </section>
{% endblock %}
